    <th:block>
    <meta charset="UTF-8">
    <title>PSA GROUPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <th:block th:if="${brand.equals('peugeot')}">
        <link rel="stylesheet" href="/css/style-peugeot.css">
    </th:block>
    <th:block th:if="${brand.equals('citroen')}">
        <link rel="stylesheet" href="/css/style-citroen.css">
    </th:block>
    <th:block th:if="${brand.equals('ds')}">
        <link rel="stylesheet" href="/css/style-ds.css">
    </th:block>

</th:block>