<th:block>
    <div class="container-fluid text-md-center">
        <div class="footer-background h5 text-white">
            PSA Groupe is french automotive company, owning the brands Peugeot, Citroen and DS.After 2016 the company
            owns Opel,Mazda,Vauxhall, etc. Nowadays it is one of the most popular car manifacturer!
        </div>
        <div class="footer-background h5 text-info">
            In this website you will be able to see only psa groupe cars Offers and play some virtual races!
        </div>
    </div>
</th:block>