<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{/fragments/car-head}"></th:block>
</head>
<body>


<th:block th:if="${races.size() == 0}">
    <h1 class="text-light">We are sorry, there are no races for the moment! You have to wait for the admin to add a race!</h1>
</th:block>

    <th:block th:unless="${races.size() == 0}">
        <div class="col-lg-5 bg-dark rounded m-auto" style="height: 30vh; overflow: auto">
    <div th:each="r: ${races}" class="mt-3 rounded badge-success">
        <h3 th:text="|Name: ${r.name}|" class="text-light"></h3>
        <h3 th:text="|Country: ${r.country}|" class="text-light"></h3>
        <h3 th:text="|City: ${r.city}|" class="text-light"></h3>
        <h3 th:text="|Racers count: ${r.racers.size()}|" class="text-light"></h3>
        <h3 th:text="|End date: ${r.dueDate}|" class="text-light"></h3>
    </div>
        </div>
    </th:block>



<a class="text-warning h1" th:href="@{/home}">Go back to home</a>

<footer th:include="~{/fragments/footer}">

</footer>

</body>
</html>